<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
  <!-- -------------------------------------MAIN-------------------------------------------------------- -->
  <div class="flex-containter">
  <h2 class="titulo-pag"><%= productos[0].dataValues.categorias.dataValues.nombre %></h2>
    <% for(let i = 0; i < productos.length; i++) { %>
    
    <div class="boxs">
        <a href="/productos/detalle/<%= productos[i].id %>" class="a">
        <h3 class="titulo-producto"><%= productos[i].nombre %></h3>
        <img class="product-img" src="/images/<%= productos[i].imagenes[0].nombre %>">
        </a>
        <p class="precio">$<%= productos[i].precio %></p>
        <p class="cuotas">x<%= productos[i].cuotas %> Cuotas de $<%= (productos[i].precio / productos[i].cuotas).toFixed(0) %> sin interés</p>
    </div>
<% } %>
</div>   


<!-- -------------------------------------FOOTER-------------------------------------------------------- -->
<%- include('./partials/footer') %>


    <script type="text/javascript" src="/css\header.js"></script>
</body>
</html>