<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
  <!-- -------------------------------------MAIN-------------------------------------------------------- -->

    <form class="log" method="POST" action="/usuarios/login">
      <h3>Iniciar sesión</h3>

      <div class="casilla">
        <input
          type="text"
          name="email"
          placeholder="Email"
          class="nombre-email"
          value="<% locals.old && old.email ? old.email : '' %>"
        />

        <% if (locals.errors && errors.email){%>
          <div class="text-danger">
            <%= errors.email.msg %>
          </div>
        <%}%>

      </div>

      <div class="casilla">
        <input
          type="password"
          name="contraseña"
          placeholder="Contraseña"
          class="contraseña"
        />

        <% if (locals.errors && errors.contraseña){%>
          <div class="text-danger">
            <%= errors.contraseña.msg %>
          </div>
        <%}%>

      </div>

      <div class="casilla">
        <label for="recordame_check">
          <input type="checkbox" name="recordame" id="recordame_check">Recordame
        </label>
      </div>

      <div class="redirigir">
        <span>¿No tenés cuenta? Hacé click <a href="/usuarios/registro">acá</a></span>
      </div>

      <div class="buttons">
        <button class="iniciar-sesion boton">Iniciar Sesión</button>
      </div>
    </form>

    <section class="newsletter">
      <div class="texto">
        <h4>SUSCRIBITE AL NEWSLETTER</h4>

        <p>Recibí nuestras novedades y promociones</p>
      </div>

      <div class="datos">
        <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
        <input type="email" placeholder="E-MAIL" class="newsletter-email" />
      </div>
        
      <button type="submit" class="enviar">ENVIAR</button>
    </section>
    
<!-- -------------------------------------FOOTER-------------------------------------------------------- -->
<%- include('./partials/footer') %>


    <script type="text/javascript" src="/css\header.js"></script>
</body>
</html>
