<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
  <!-- -------------------------------------MAIN-------------------------------------------------------- -->


<main class="container-shop">
    <h2 class="tienda-shop">Tienda | Todos los productos</h2>
    <div class="div-shop">
        <% for(var i = 0; i < productos.length; i++) { %>
    
            <div class="product-container-shop">
                <a href="/productos/detalle/<%= productos[i].id %>">
                    <!-- <div class="img-product">
                        <img src="/images/" alt="Imagen del producto">
                    </div> -->
                    <article class="product-info">
                        <h2 class="price-shop">
                            $<%= productos[i].precio.toLocaleString() %>
                        </h2>
                        <h3 class="product-cuotas">
                            Con <%= productos[i].cuotas %> cuotas sin interés de $<%= (productos[i].precio / productos[i].cuotas).toFixed(0) %>
                        </h3>
                        <p class="name-shop">
                            <%= productos[i].nombre %>
                        </p>
                    </article>
                </a>
            </div>
        <% } %>
    </div>
</main>

<!-- -------------------------------------FOOTER-------------------------------------------------------- -->
<%- include('./partials/footer') %>
    <script type="text/javascript" src="/css/header.js"></script>
</body>
</html>