<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
  <!-- -------------------------------------MAIN-------------------------------------------------------- -->

  <form class="creacion" action="/productos/editar/<%= productEdit.id %>?_method=PUT" method="POST">

    <h3 class="tituloPc">Editar producto: <%= productEdit.name %></h3>

    <div class="casillaPc">
      <input
        type="text"
        name="name"
        placeholder="Nombre de producto"
        class="nombre-productoPc"
      />
    </div>

    <div class="casillaPc">
      <input
        type="text"
        name="categoria"
        placeholder="Categoría del producto"
        class="categoria-productoPc"
      />
    </div>
    
    <div class="casillaPc">
      <input
        type="text"
        name="color"
        placeholder="Color"
        class="colorPc"
      />
    </div>

    <div class="casillaPc">
      <input
        type="number"
        name="price"
        placeholder="Precio"
        class="precioPc"
      />
    </div>

    <div class="casillaPc">
      <input
        type="number"
        name="cuotas"
        placeholder="Cuotas"
        class="cuotasPc"
        min="1"
        max="12"
        required
      />
    </div>

    <div class="casillaPc">
      <input
        type="file"
        name="image"
        placeholder="Imagen"
        class="imagenPc"
        accept=".jpg"
      />
    </div>

    <div class="casillaPc">
      <label class="envioLabel">Stock</label>
      <label>
        <input
        type="radio"
        name="envio"
        class="envio-siPc"
        value="Disponible"
        />
        <label class="opcionEnvio">Disponible</label>
      </label>
      
      <label>
        <input
       type="radio"
        name="envio"
        class="envio-noPc"
        value="No Disponible"
        />
        <label class="opcionEnvio">No Disponible</label>
      </label>
    </div>


    <div class="buttonsPc">
        
      <button type="submit" class="boton" >Editar</button>

      <button type="reset" class="boton" >Resetear</button>

      <form action="/productos/delete/<%= productEdit.id %>?_method=DELETE" method="POST">
          <button type="submit" class="boton" >Eliminar</button>
      </form>
    </div>
  </form>

  

  <section class="newsletter">
    <div class="texto">
      <h4>SUSCRIBITE AL NEWSLETTER</h4>

      <p>Recibí nuestras novedades y promociones</p>
    </div>

    <div class="datos">
      <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
      <input type="email" placeholder="E-MAIL" class="newsletter-email" />
    </div>
      
    <button type="submit" class="enviar">ENVIAR</button>
  </section>

<!-- -------------------------------------FOOTER-------------------------------------------------------- -->
  <%- include('./partials/footer') %>

  <script type="text/javascript" src="/css\header.js"></script>

</body>