<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
  <!-- -------------------------------------MAIN-------------------------------------------------------- -->

    <form method="POST" action="/usuarios/registro" enctype='multipart/form-data' class="registro">
      <h3>Crea tu cuenta</h3>
<% if (locals.errors) { %>  
<% for( let oneError in errors) { %>

<% } %>
<% } %> 

      <div class="casilla">
        <input
          type="text"
          name="nombre"
          placeholder= "Nombre y apellido"
          class="nombre-apellido"
          value="<%=locals.oldData ? oldData.nombre : null %>"
          
        />
        <% if (locals.errors && errors.nombre) { %> 
       <div class="text-danger">
         <%= errors.nombre.msg  %> 
      </div>
      <% } %>
      </div>

      <div class="casilla">
        <input 
          type="text"
          name="email"
          placeholder= "E-mail"
          class="email"
          value= "<%=locals.oldData ? oldData.email : null %>" />

      <% if (locals.errors && errors.email) { %> 
        <div class="text-danger">
          <%= errors.email.msg  %> 
       </div>
       <% } %>
       </div>

      <div class="casilla">
        <input
          type="text"
          name="nombreUsuario"
          placeholder= "Nombre de usuario"
          class="user"
          value= "<%=  locals.oldData ? oldData.nombreUsuario :null %>"
          />
          <% if (locals.errors && errors.nombreUsuario) { %> 
            <div class="text-danger">
              <%= errors.nombreUsuario.msg  %> 
           </div>
           <% } %>
           </div>
      <div class="casilla">
        <input
          type="password"
          placeholder= "Contraseña"
          name="contraseña"
          class="contraseña"
          value="<%=  locals.oldData ? oldData.contraseña :null %>"
          
         
        />
         <% if (locals.errors && errors.contraseña) { %> 
       <div class="text-danger">
         <%= errors.contraseña.msg  %> 
      </div>
      <% } %>
      </div>

      <div class="casilla">
        <input
          type="password"
          name="repetir"
          placeholder= "Repetir contraseña"
          class="rep-contraseña"
          value="<%=  locals.oldData ? oldData.repetir :null %>"
         />
         <% if (locals.errors && errors.repetir) { %> 
          <div class="text-danger">
            <%= errors.repetir.msg  %> 
         </div>
         <% } %>
      </div>

      <div class="casilla">
        <input
          type= "file"
          name="avatar"
         />
         
         <% if (locals.errors && errors.avatar) { %> 
          <div class="text-danger">
            <%= errors.avatar.msg  %> 
         </div>
         <% } %>
      </div>
     

      <div class="redirigir">
        <span>¿Ya tenés cuenta? Hacé click en "Iniciar Sesión"</span>
      </div>

      <div class="buttons">
        
        <button type="submit" class="boton" >Crear</button>

        <a href="./login" class="boton"><span>Iniciar Sesión</span></a>

      </div>
    </form>

    <section class="newsletter">
      <div class="texto">
        <h4>SUSCRIBITE AL NEWSLETTER</h4>

        <p>Recibí nuestras novedades y promociones</p>
      </div>

      <div class="datos">
        <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
        <input type="email" placeholder="E-MAIL" class="newsletter-email" />
      </div>
        
      <button type="submit" class="enviar">ENVIAR</button>
    </section>

<!-- -------------------------------------FOOTER-------------------------------------------------------- -->
<%- include('./partials/footer') %>


    <script type="text/javascript" src="/css\header.js"></script>
</body>
</html>
